#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
}

.columnsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 40em) {
  .columnsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .columnsWrapper {
    grid-template-columns: 1fr;
  }
}
