.appHeader {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.appIcon {
  font-size: 2rem;
}

.appName {
  font-size: 2.5rem;
}
